:root {
  --background-site: #000;
  --background-code: #18181b;
  --detail-high-contrast: #fff;
  --detail-medium-contrast: #8a8a8a;
  --detail-low-contrast: #333;
  --primary: #14b8a6;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-site);
  color: var(--detail-high-contrast);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sandbox {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
} 